:root {
  --color-primary: #483f54;
  --color-secondary: #white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text {
  font: 19pt sans-serif;
}

textarea {
  width: 100%;
  height: 50vh;
  border: none;
  color: black;
  overflow: scroll;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: "Source Code Pro";
  font-size: 16px;
  resize: none; /*remove the resize handle on the bottom right*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.splitLeft {
  top: 50%;
  height: 50%;
  position: absolute;
  width: 100%;
  background-color: var(--color-primary);
}

.splitRight {
  height: 50%;
  width: 100%;
  top: 0%;
  position: absolute;
  background-color: var(--color-primary);
}

.App-header {
  background-color: var(--color-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #f7f4ea;
  stroke-width: 1.5px;
}

text {
  font-size: 13px;
  font-family: "Source Code Pro";
  color: var(--color-secondary);
}

body {
  overflow: hidden;
  background-color: var(--color-primary);
  transition: background-color 1.5s ease; /* Smooth transition for background color */
}

svg {
  background: var(--color-primary);
  width: 100%;
  height: 100%;
}

/* Example CSS for fade transition */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
